<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path_for('home') }}">Auth</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if auth.check %}
                <ul class="nav navbar-nav">
                    {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
                    {#<li><a href="#">Link</a></li>#}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Direct</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Web</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Add New Department</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Modify Department</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
                    {#<li><a href="#">Link</a></li>#}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Points <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">View All</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Add New Data Point</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Modify Data Point</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if auth.check %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ auth.user.name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path_for('auth.password.change') }}">Change Password</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path_for('auth.signout') }}">Sign Out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path_for('auth.signin') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>